@{
    ViewBag.Title = "Index";
}
@section styles {
    <link rel="stylesheet" href="~/Static/recursos/index.css"/>
}
@section scripts {
    <script type="text/javascript" src="~/Static/Noticias/index.js"></script>
}

<main></main>


